:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ff7200;
  text-decoration: inherit;
}

a:hover {
  color: #ff7200;
}
.css-1y942vo-MuiButtonBase-root-MuiButton-root:hover{
color: #ff7200;
}

.body-bgimage {
  background: url("/Images/bg-2.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.table-data{
  width: 100%;
  background: #fff;
  opacity: 0.9;
  border-radius: 12px;
  padding: 20px 0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* //////////////////////////////CSS FOR LOADER ALIGNMENT IN COMPONENTS//////////////////////// */
.loadinginComponent{
display: flex;
border-radius: 50%;
justify-content: center;
align-items: center;
}
/* //////////////////////////////Scroller of App////////////////////////////////////////////// */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7200;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #ff7200;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
.btn-info {
  background-color: #0dcaf0 !important;
  color: #000 !important;
}

.btn-prev {
  background-color: #ccc;
  color: #000;
}

.btn-next {
  background-color: #008000;
  color: #fff;
}
.btn-promote{
  background-color: #ccc;
  color: #000;}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ff7200;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* //////////////////////////////Search icon/button ////////////////////////////////////////////// */
.search-icon:hover{
  background-color: #ff7200 !important;
}

.search-place{
  display: flex;
  justify-content: end;
  margin: 0 20px;
}
.search{
  border-right: none;
}
.search:focus{
  border: 1px solid #000;
  border-right-color: #ff7200 !important;
}
.search-icon{
  display: flex;
  padding: 0 5px;
  border: 1px solid #ff7200;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  background-color: #ff7200;
}
/* //////////////////////////////////////////Final project Price///////////////////////////////////////// */
.final-price{
  font-size: 20px;
}
/* //////////////////////////////////////////record not found ERROR///////////////////////////////////////// */
.Records_Not_Found{
  text-align: center !important;
}
.Records_Not_Found>p{
  text-align: center !important;
  font-weight:bold !important;
  font-size: 16px !important;
  padding: 20px !important;
  color: #ff0000 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #ff7200;
  }

  button {
    background-color: #f9f9f9;
  }
}
@media screen and (max-width: 480px) {
  body-bgimage{
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  body-bgimage{
    width: 100%;
  }
}